<div class="pageSelector"> Number of rows to display <select class="pages-count" (change)="updatePageSize($event)">
  <option value="10">10</option>
  <option value="20">20</option>
  <option value="50">50</option>
  <option value="100">100</option>
  <option value="0">All</option>
</select>
</div>
<table class="data-container" *ngIf="items.length">
  <thead>
  <tr>
  <th> Name </th>
  <th> Phone </th>
  <th> Email </th>
  <th> Company </th>
  <th> Date Entry </th>
  <th> Organization Number</th>
  <th>Address </th>
  <th>City</th>
  <th>Zip </th>
  <th>Geo </th>
  <th> Pan </th>
  <th> Pin </th>
  <th> Id </th>
  <th> Status </th>
  <th> Fee </th>
  <th> Guid </th>
  <th> Date exit </th>
  <th> Date first </th>
  <th> Date recent </th>
  <th> Url </th>
    <th>Action</th>
</tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items">
    <td>{{ item.name}}</td>
    <td> {{ item.phone }} </td>
    <td> {{ item.email }} </td>
    <td> {{item.company}}</td>
    <td> {{item.date_entry}}</td>
    <td> {{ item.org_num}}</td>
    <td> {{ item.address_1}}</td>
    <td>{{item.city}}</td>
    <td>{{item.zip}}</td>
    <td> {{item.geo}}</td>
    <td> {{ item.pan}}</td>
    <td> {{ item.pin}}</td>
    <td> {{ item.id}}</td>
    <td> {{item.status}}</td>
    <td> {{item.fee}}</td>
    <td>{{item.guid}}</td>
    <td> {{ item.date_exit}} </td>
    <td>{{ item.date_first }} </td>
    <td> {{ item.date_recent }} </td>
    <td> {{item.url}} </td>
    <td> <button (click)="submitRequest(item.id,item.status)">Edit</button></td>
  </tr>
  </tbody>
  <tfoot>
  <tr><td *ngIf="!allInDisplay" [attr.colspan]="columnSpan+1">
    <app-pagination class="paginator"
    (goPage)="goToPage($event)"
    [pagesToShow]="5"
    [page]="page"
    [perPage]="limit"
    [count]="total"
    [min]="getMin()"
    [max]="getMax()"></app-pagination>
  </td></tr>
  </tfoot>
</table>
 <p *ngIf="loading ">Loading Data...</p>
<p *ngIf ="!items.length && !loading">No data available</p>


