table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid lightgray;
}
th {
  background-color: cadetblue;
  border-width: 1px;
}
td {
  border-width: 1px;
}
tr:first-child td {
  border-top-width: 0;
}
tr:nth-child(even) {
  background-color: aliceblue;
}
th, td {
  min-width: 350px;
  padding: 10px;
}

.pageSelector {
  margin-left: 203px;
}

.pages-count {
  width: 50px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 3px;
  overflow: hidden;
}
button {
  background-color: rgb(152, 214, 255);
  border: none;
  color: black;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(72, 180, 252);
  color: black;
}

