<!-- pagination layout -->
<div class="pagination" *ngIf="count > 0">
  <div class="description">
    <span class="page-counts">{{ min }} - {{ max }} of {{ count }}</span>
    <span class="page-totals"> in {{ totalPages() }} pages</span>
  </div>
  <div class="numbers">

    <button class="button"
            *ngFor="let pageNum of getPages()"
            (click)="onPage(pageNum)"
            [ngClass]="{'active': pageNum === page, 'disabled': loading}">{{ pageNum }}</button>

  </div>
</div>
